.card{
    /* align-self: center; */
    margin-top: 160px;
    margin-left: 350px;
    margin-right: 350px;
    align-content: center;
    box-sizing: border-box;
};
.cardc{
    /* align-self: center; */
    margin-top: 160px;
    margin-left: 350px;
    margin-right: 350px;
    align-content: center;
    box-sizing: border-box;
};

.cardc2{
    /* align-self: center; */
    margin-top: 160px;
    margin-left: 350px;
    margin-right: 350px;
    align-content: center;
    box-sizing: border-box;
}