.main_container {
  padding: 100px 200px 290px 300px;
  background-color: rgb(186, 235, 247);
}
.forcontainer {
  background-color: rgb(218, 195, 165);
  display: flex;
  flex-direction: column;
  width: 900px;
  border-radius: 20px;
  padding: 50px 50px 50px 50px;
  box-shadow: 15px 15px 20px rgb(99, 45, 45);
}

h3 {
  color: blueviolet;
}
h5 {
  margin-left: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.password_reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}
