.upload_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 100px; */
  background-color: rgb(236 236 236);
  margin-top: 0px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 15px;
  height: 90vh;
  width: 65%;
}

.upload_data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236 236 236);
  padding: 20px;
  border-radius: 20px;
  margin-top: 220px;
  
}
.upload_resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 800px;
}

.file_name {
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 100px;
}

.subject_name {
  display: flex;
  flex-direction: row;
  padding: 100px 100px 100px 100px;
}
.upload_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 100px 100px 100px;
}

.file_path {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
