.resources_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view_resources {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 70px;
  width: 80%;
}
